# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
/staticfiles/
*.log

# MySQL / local config
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
